.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-sub-countainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 24px;
  margin: 0px 300px 0px 301px;
}

.title-container {
  max-width: 440px;
  min-width: 300px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  margin-top: 8px;
}

.login-form {
  max-width: 440px;
  min-width: 300px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  margin-top: 8px;
}

.login-logo-container {
  text-align: center;
}

.circle-logo {
  margin: 30px auto;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: rgb(220, 0, 78);
}

.image-logo {
  padding-top: 9px;
  width: 30px;
  height: 30px;
  /* 画像をselect不可 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.white {
  filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg)
    brightness(107%) contrast(101%);
}

.login-title {
  text-align: center;
}

.login-input-container {
  margin-top: 16px;
  margin-bottom: 8px;
  width: 100%;
  box-sizing: content-box;
}

.login-button-container {
  margin-top: 16px;
  margin-bottom: 8px;
  width: 100%;
  box-sizing: content-box;
}

.login-button {
  margin: 24px 0px 16px;
  padding: 6px 16px;
  width: 100%;
  background-color: rgb(78, 181, 250);
  border: none;
  box-shadow: 0 0 8px rgb(128, 128, 128);
  font-size: 15px;
  color: aliceblue;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 1.75em;
}

.create-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkbox-container {
  margin-top: 30px;
}

.checkbox-input {
  display: none;
}

.checkbox-parts {
  padding-left: 20px;
  position: relative;
  margin-right: 20px;
}

.checkbox-parts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 4px;
}

.checkbox-input:checked + .checkbox-parts::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid;
  border-right: 3px solid;
}
